* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

body {
  background-color: #e5e5e5;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;  
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }
.info {
  background-color: #d7d7d7;
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
}

.image-div {
  width: 50%;
  position: relative;
  color: white;
  background-color: black;
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
  transform: scale(1.1);
  transform-origin: top;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.image {
  width: 10rem;
}

.about h5 {
  font-size: 2rem;
}

.links a:hover {
  color: rgb(122, 111, 111);
}

.about {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
}

.rest h2 {
  font-size: 3rem;
}

.rest p {
  color: #909090;
  font-weight: bold;
}

.image-div ul {
  position: absolute;
  right: 50px;
  top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.hide {
  display: none;
}

ul {
  list-style-type: none;
}

ul li a {
  padding: 10px;
}

ul li a:active, ul li a:hover, .project div :nth-child(2):hover {
  background-color: white;
  color: black;
  border-radius: 10px;
}

ul li {
  width:fit-content;
}

.about-div, .skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.about-text {
  border: 5px solid black;
  padding: 10px;
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: 30;
  width: 20rem;
  text-align: center;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text:hover {
  background-color: #d7d7d7;
  cursor: pointer;
}

.about-div .description {
  font-size: 15px;
  width: 40rem;
  text-align: center;
  max-width: 100%;
}

.explore {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.describe-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.using ul{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.using {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.using ul li {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.other ul li:nth-child(3) img{
  width: 6rem;
}

.portfolio {
  width: 100%;
  background-color: #1a1a1a;

}

.portfolio .bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./photos/portfolio.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 150px;
}

.project img {
  width: 25rem;
  height: 20rem;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: center;
  align-items: center;
  gap: 40px;

}

.project {
  width: 25rem;
  height: 35rem;
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.project p {
  text-align:justify;
}

.project div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.project div :nth-child(2){
  text-align: center;
  border: 1px solid white;
  width: 50%;
}

.project div :nth-child(1){
  height: 5rem;
}

.project div{
  height: 10rem;
}

footer {
  background-color: #1a1a1a;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #CACBC4;
  gap: 10px;
}

footer div {
  display: flex;
  gap: 20px;
}

@media (max-width: 900px)
{

  .about-div .description {
    width: 100%;
  }
  .image-div .icon {
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;

  }

  .image-div ul {
    display: flex;
    flex-direction: column;
    top: 80px;
    right: 20px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
  }

  .hide-mobile {
    display: none !important;
  }

  .show {
    display: flex;
  }
  .info, .image-div, .skills, .about-div {
    padding: 40px;
  }

}